body {
  font-family: "Helvetica", sans-serif;
  height: 100vh;
  background: linear-gradient(-45deg, #f1f3f8, #d6e0f0, #8d93ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  text-align: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h2 {
  font-weight: bold;
  padding: 20px 0;
  line-height: 2.5rem;
  color: white;
}

h3 {
  font-weight: bold;
  padding: 20px 0;
  line-height: 2rem;
}

p {
  font-weight: lighter;
  line-height: 1.6rem;
}

.title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.container {
  width: 90%;
  margin: 0 auto;
  height: 80vh;
  text-align: center;
}

#mediaPlayer {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

video {
  cursor: pointer;
}

.playlist {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.playlist video {
  width: 100%;
}

.moviebtn {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  background-color: #f25287;
  color: white;
  font-size: 50px;
  cursor: pointer;
  border: none;
}

.tvbtn {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  background-color: #01c5c4;
  color: white;
  font-size: 50px;
  cursor: pointer;
  border: none;
}

.audiobtn {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  background-color: #ffe268;
  color: white;
  font-size: 50px;
  cursor: pointer;
  border: none;
}

button :hover {
  opacity: 50%;
  color: gray;
}

.content {
  background-color: black;
  width: 30%;
  padding: 15px;
  float: center;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.controllers {
  display: block;
  margin-top: 8px;
  text-align: center;
}

footer {
  padding-top: 50px;
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
  }

  .container {
    width: 70%;
    margin: 0 auto;
    height: 80vh;
    text-align: center;
  }

  #mediaPlayer {
    margin: 0 10px;
    padding: 40px;
  }

  .playlist {
    padding: 20px;
  }
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing:border-box; */
}

.hidden {
  display: none;
}

* {
  border: none;
}

#myBtnContainer {
  padding-left: 20px;
}

.row {
  margin: 10px auto;
  width: 80%;
  text-align: center;
}
.row img {
  width: 90%;
  height: auto;
  transition: all 0.3s ease-out;
  border-radius: 50%;
}
.row img:hover {
  opacity: 80%;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 10px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  display: none;
  /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  color: #999;
  border: none;
  outline: none;
  padding: 12px 10px;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
}

.btn:hover {
  background-color: #fab2b2;
  color: white;
}

.btn.active {
  background-color: #fab2b2;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: gray;
  transition: opacity 500ms;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  text-align: center;
}
.mySlides img {
  width: 90%;
  margin-bottom: -4px;
}
.mySlides video {
  width: 90%;
  padding: 30px;
}

.cursor {
  cursor: pointer;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainheader {
  height: auto;
  background-color: #f1f3f8;
  opacity: 50%;
  color: #393b44;
  overflow: hidden;
  width: 100%;
  padding: 10px;
}

.logoHeader {
  float: left;
  text-align: center;
  width: 30px;
  height: auto;
  margin: 10px 0px 0px 20px;
}

#mainNav ul li a {
  font-size: 18px;
  margin-top: 10px;
  padding: 0 5px;
}

nav {
  float: right;
}
nav .nav-item {
  margin-top: 10px;
  margin-right: 20px;
  height: 50px;
  display: inline-block;
  color: #393b44;
}
nav .nav-item a {
  text-decoration: none;
  display: block;
  color: #393b44;
  font-size: 20px;
  cursor: pointer;
}
nav .nav-item a.active {
  color: #393b44;
  border-radius: 5%;
}
nav .nav-item a:hover {
  background-color: #393b44;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
nav .navbtn {
  background-color: #393b44;
  color: white;
  float: right;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 20px;
  margin-bottom: 5px;
  border: 0px;
}
nav .navbtn a {
  text-decoration: none;
  color: white;
}
nav .navbtn a:visited {
  text-decoration: none;
}
nav .navbtn a:hover {
  opacity: 50%;
}

footer {
  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
}
footer p {
  color: #8d93ab;
  font-size: 12px;
  text-align: center;
}
footer .mainfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #393b44;
  color: white;
  text-align: center;
}
footer .sns {
  text-align: center;
}
footer .sns img {
  background-color: #393b44;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  opacity: 50%;
}
footer .sns img:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

/*# sourceMappingURL=style.css.map */
