#myBtnContainer {
    padding-left: 20px;
}


.row {
    margin: 10px auto;
    width: 80%;
    text-align: center;

    img {
		width: 90%;
    height: auto;
		// padding: 30px 0 20px 0;
    transition: all 0.3s ease-out;
    border-radius: 50%;

    &:hover  {
        opacity: 80%;
    }
	}
  }

  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 10px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 100%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    color: #999;
    border: none;
    outline: none;
    padding: 12px 10px;
    background-color: white;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .btn:hover {
    background-color: #fab2b2;
    color: white;
  }
  
  .btn.active {
    background-color: #fab2b2;
    color: white;
  }
  
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: gray;
    transition: opacity 500ms;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 70%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    text-align: center;

    img {
        width: 90%;
        margin-bottom: -4px;
    }

    video {
        width: 90%;
        padding: 30px;
    }
  }
  
  .cursor {
    cursor: pointer;
  }

  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  