@media (min-width: 768px) {

    .title {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        padding: 30px;
    }

    .container {
        width: 70%;
        margin: 0 auto;
        text-align: center;
      }


}